# Salin file ini menjadi keystore.properties lalu isi sesuai file keystore release Anda
storeFile=../keystore/pos-bangunan-release.jks
storePassword=ganti-dengan-password-anda
keyAlias=posbangunan
keyPassword=ganti-dengan-password-anda
